name: build-and-train

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install MLflow
        run: pip install mlflow dagshub pandas scikit-learn

      - name: Run MLflow Project
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          mlflow run MLProject

      - name: Build Docker Image
        run: |
          mlflow models build-docker -m runs:/$(mlflow runs list -o json | jq -r '.[0].run_id') -n renal4452/mlflow-bank-ci
