name: CI MLflow + Docker

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: https://dagshub.com/renal4452/Workflow-CI_Renaldy-Surya-Pratama.mlflow
      MLFLOW_TRACKING_USERNAME: renal4452
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      DOCKER_IMAGE_NAME: bank-mlflow

    steps:
      # Checkout repo
      - uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      # Install dependencies
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 dagshub==0.3.15 pandas scikit-learn numpy matplotlib seaborn

      # Run MLflow project
      - name: Run MLflow project
        run: |
          mlflow run MLproject --env-manager=local --experiment-name bank-deposit-tuning

      # Ambil latest run_id dari DAGsHub
      - name: Get latest MLflow run_id from DAGsHub
        run: |
          python - <<EOF
          import mlflow

          mlflow.set_tracking_uri("${{ env.MLFLOW_TRACKING_URI }}")
          client = mlflow.tracking.MlflowClient(
              tracking_uri="${{ env.MLFLOW_TRACKING_URI }}"
          )

          experiment = client.get_experiment_by_name("bank-deposit-tuning")
          if experiment is None:
              raise ValueError("Experiment not found on DAGsHub.")

          runs = client.search_runs(
              experiment_ids=[experiment.experiment_id],
              order_by=["start_time DESC"],
              max_results=1
          )
          if not runs:
              raise ValueError("No runs found in experiment.")

          run_id = runs[0].info.run_id
          print(f"RUN_ID={run_id}")

          with open("${GITHUB_ENV}", "a") as f:
              f.write(f"RUN_ID={run_id}\n")
          EOF

      # Login ke Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build Docker image dari model MLflow
      - name: Build Docker image
        run: |
          mlflow models build-docker \
            -m runs:/$RUN_ID/model \
            -n ${{ env.DOCKER_IMAGE_NAME }}

      # Tag Docker image
      - name: Tag Docker image
        run: |
          docker tag ${{ env.DOCKER_IMAGE_NAME }} ${{ secrets.DOCKERHUB_USER }}/$DOCKER_IMAGE_NAME:latest

      # Push Docker image ke Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USER }}/$DOCKER_IMAGE_NAME:latest
