name: CI MLflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 dagshub==0.3.15 pandas scikit-learn numpy

    - name: Run MLflow Project
      run: |
        mlflow run MLproject --env-manager=local --experiment-name bank-deposit-tuning

    - name: Build Docker Model from Registered Model
      run: |
        mlflow models build-docker \
          --model-uri "models:/BankDepositModel/Production" \
          --name "bank-mlflow"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Tag Docker Image
      run: |
        docker tag bank-mlflow ${{ secrets.DOCKERHUB_USER }}/bank-mlflow:latest

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USER }}/bank-mlflow:latest
