name: MLflow CI Training + Docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest
    env:
      DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}

    steps:
    # =========================
    # CHECKOUT
    # =========================
    - name: Checkout repository
      uses: actions/checkout@v4

    # =========================
    # PYTHON
    # =========================
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # =========================
    # INSTALL DEPENDENCIES
    # =========================
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn

    # =========================
    # LOGIN DAGSHUB (MLFLOW)
    # =========================
    - name: Set DagsHub environment
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/renal4452/Workflow-CI_Renaldy-Surya-Pratama.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USER }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: echo "DagsHub environment set"

    # =========================
    # RUN MLFLOW PROJECT
    # =========================
    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/renal4452/Workflow-CI_Renaldy-Surya-Pratama.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USER }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        mlflow run MLProject --env-manager=local

    # =========================
    # LOGIN DOCKER HUB
    # =========================
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # =========================
    # BUILD DOCKER IMAGE
    # =========================
    - name: Build Docker image with MLflow
      run: |
        mlflow build-docker MLProject -n renal4452/bank-mlflow-ci:latest

    # =========================
    # PUSH DOCKER IMAGE
    # =========================
    - name: Push Docker image
      run: docker push renal4452/bank-mlflow-ci:latest
