name: MLflow CI Training + Docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: https://dagshub.com/renal4452/Workflow-CI_Renaldy-Surya-Pratama.mlflow
      MLFLOW_TRACKING_USERNAME: renal4452
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

    steps:
    # =========================
    # CHECKOUT
    # =========================
    - name: Checkout repository
      uses: actions/checkout@v4

    # =========================
    # PYTHON
    # =========================
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
         python-version: "3.12.7"

    # =========================
    # INSTALL DEPENDENCIES
    # =========================
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install \
          mlflow==2.19.0 \
          pandas \
          scikit-learn \
          numpy \
          matplotlib \
          seaborn

    # =========================
    # RUN MLFLOW PROJECT
    # =========================
    - name: Run MLflow Project
      run: |
        mlflow run . --env-manager=local --experiment-name bank-deposit-tuning

    # =========================
    # GET RUN ID
    # =========================        
    - name: Get latest MLflow run_id safely
      run: |
        # Cek apakah folder mlruns/0/ ada dan berisi folder run
        if [ -d "mlruns/0" ] && [ "$(ls -A mlruns/0)" ]; then
          RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest MLflow run_id: $RUN_ID"
        else
          echo "No MLflow runs found in mlruns/0/. Please check if the project ran successfully."
          exit 1
        fi

    # =========================
    # LOGIN DOCKER HUB
    # =========================
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # =========================
    # BUILD DOCKER FROM MODEL
    # =========================
    - name: Build Docker image from MLflow model
      run: |
        mlflow models build-docker \
        -m runs:/$RUN_ID/model \
        -n renal4452/bank-mlflow:latest

    # =========================
    # PUSH IMAGE
    # =========================
    - name: Push Docker image
      run: |
        docker push renal4452/bank-mlflow:latest
