name: MLflow CI Training + Docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    env:
      DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      MLFLOW_TRACKING_URI: https://dagshub.com/renal4452/smsml-mlflow-bank.mlflow
      MLFLOW_TRACKING_USERNAME: renal4452
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}

    steps:
    # =========================
    # CHECKOUT
    # =========================
    - name: Checkout repository
      uses: actions/checkout@v4

    # =========================
    # PYTHON
    # =========================
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # =========================
    # INSTALL DEPENDENCIES
    # =========================
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install \
          mlflow==2.17.2 \
          dagshub==0.3.15 \
          pandas \
          scikit-learn \
          numpy \
          matplotlib \
          seaborn

    # =========================
    # DISABLE DAGSHUB OAUTH (WAJIB)
    # =========================
    - name: Disable DagsHub OAuth
      run: |
        echo "DAGSHUB_DISABLE_RICH=1" >> $GITHUB_ENV
        echo "DAGSHUB_USE_OAUTH=false" >> $GITHUB_ENV

    # =========================
    # RUN MLFLOW PROJECT
    # =========================
    - name: Run MLflow Project
      run: |
        mlflow run . --env-manager=local

    # =========================
    # LOGIN DOCKER HUB
    # =========================
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # =========================
    # BUILD DOCKER IMAGE
    # =========================
    - name: Build Docker image with MLflow
      run: |
        mlflow build-docker . -n renal4452/bank-mlflow:latest

    # =========================
    # PUSH DOCKER IMAGE
    # =========================
    - name: Push Docker image
      run: |
        docker push renal4452/bank-mlflow:latest
