name: MLflow CI Training

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn dagshub matplotlib seaborn

    - name: Run MLflow Project (LOCAL ENV)
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USER }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        cd MLProject
        mlflow run . --env-manager=local
